*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainscreen{
    height: 100vw;
    width: 100vw;
    background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
display: flex;
justify-content: center;
align-items: center;

}
.mainbox{
    border-radius: 15px;
    width: 260px;
    height:380px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    /* box-shadow: 10px 10px 1px white; */
}
#xx{
    border: 2px solid black;
}
.mainbox img{
    height: 125px;
    width: 260px;
    border-radius: 15px;
    border: 1px solid black;
}
.mainbox .thing3{

    display: flex;
    flex-direction: row;
    gap: 10px;
    
}
.mainbox .thing2 p{
    margin: 15px;
    font-size: 11px;
    align-content: center;
    text-align: center;
}
.mainbox .thing3 img{

    width: 30px;
    height: 30px;
}
.mainbox .thing3{
    border-radius: 10px;
    margin-left: 10px;
margin-right: 10px;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.pay{
    background-color:darkblue;
    color: white;
    justify-content: center;
    align-items: center;
    
    border-radius: 10px;
    border: 2px solid black;
    box-shadow:  2px 2px 20px black;
}
.mainbox .thing5{
    margin: 10px;
}

.mainbox.thing5.a{
    color: black;
}